.imageListe {
    /*height : 100%;*/
    width  : 250px;
}
.imageCategori {
    max-height : 250px;
    max-width  : 250px;
}
.ajouterBouton .supprimerBouton {
    height : 25px;
    width  : 50px;
}
.boutonConnection{
    color:blue !important;
}
.popup{
    /*background:rgba(0,0,0,.4);*/
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:15px;
    /*width:100%;*/
    z-index:10000;
    overflow:auto;
}
.popup .helper {
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popup > div {
    background-color: #fff;
    box-shadow: 10px 10px 10px #555;
    display: inline-block;
    height: auto;
    min-height: 100px;
    vertical-align: middle;
    width: 90%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.pop {
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
.boutonEnregistrer {
    cursor: pointer;
}
.exit{
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 24px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}